.title1{
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}

.nav-item{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


 
  .view svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.title-desc{
    display: block;
    text-align: center;
    padding-top:3%;
    color:white;
    font-size:45px;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 683;
    position: relative;
}

.desc{
    width:320px;
    height:200px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first-desc {
    background-color: #f6fff8;
    position: absolute;
    left: 25%;
    top: 45%;
    opacity: 0.9;
    
    
}
#first-desc img{
    margin-bottom: 80px;
    width: 500px;
    height: 290px;
}
#first-desc span {
    display: block; /* Span'ı bir blok elementine dönüştürmek */
    /* Sağdan ve soldan otomatik olarak ortalama */
    width: fit-content; /* Span'ın içeriğine uygun genişlik */
    color: #2f3643;
    font-family: "Red Hat Display", sans-serif;
    margin: 0 auto; /* Sağdan ve soldan otomatik olarak ortalama */
    width: 80%;
    position: absolute;
    left:10%;
    top:60%;
}
#second-desc{
  background-color: #f6fff8;
position:absolute;
left:50%;
top:45%;
opacity:0.9;
}
#second-desc img{
    margin-bottom: 90px;
    width: fit-content; /* Span'ın içeriğine uygun genişlik */
    height: 50px;
}
#second-desc span {
    display: block; /* Span'ı bir blok elementine dönüştürmek */
    /* Sağdan ve soldan otomatik olarak ortalama */
    width: fit-content; /* Span'ın içeriğine uygun genişlik */
    color: #2f3643;
    font-family: "Red Hat Display", sans-serif;
    margin: 0 auto; /* Sağdan ve soldan otomatik olarak ortalama */
    width: 80%;
    position: absolute;
    left:10%;
    top:60%;
}
.viewBox{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    vertical-align: middle;
    overflow: hidden;
    z-index:-1;
}

.wavy-cont{
    width: 100%;
    height: 200px;
    background-color: white;
    position:absolute;
    top: 401px;
    opacity:0.1;
}
.progress-bar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50%; /* İstediğiniz genişliği ayarlayabilirsiniz */
    z-index: 3;
    margin:0 auto;
    left:24%;
    
}

.bar {
    width:   0%; /* Başlangıçta progress barı 0 genişlikte başlatın */
    border: 1px solid silver;
    border-radius: 10px;
    background-color: #036666;
    height: 10px;
    transition: width 0.5s ease; /* Geçiş efekti ekleyin */
    display:none;
}
.time{
    display:none;
}


  

